<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
    <div th:replace="fragments::resources"/>
</head>

<body>
<header>
    <div th:replace="fragments::navbar"/>
</header>

<main class="my-3">
    <div class="container">
        <div th:replace="fragments::tableTitle"/>
        <div class="shadow-lg p-3 mb-5 bg-body rounded-bottom">
            <table class="table table-borderless table-hover">
                <thead style="color:blue">
                <tr>
                    <th  class="text-start" scope="col">
                        <a th:href="@{/groups}">
                            <button type="button" class="btn btn-outline-primary btn-sm">Back</button>
                        </a>
                    </th>
                </tr>
                <tr class="text-center">
                    <th class="text-start" scope="col" style="width: 4%">#</th>
                    <th scope="col" style="width: 28%">Group name</th>
                    <th scope="col" style="width: 28%">Department</th>
                    <th scope="col" style="width: 10%" class="text-center">Detailed</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col" style="width: 10%" class="text-center">Edit</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col" style="width: 10%" class="text-center">Delete</th>
                </tr>
                </thead>
                <tbody style="color:blue">
                <tr class="text-center" th:each="group:${groups}">
                    <td class="text-start" th:text="${groupStat.count}"></td>
                    <td th:text="*{group.name}"></td>
                    <td th:text="*{group.departmentName}"></td>
                    <td >
                        <a th:href="@{/groups/{id}(id=${group.getId()})}">
                            <button type="button" class="btn btn-outline-primary">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="16"
                                     height="16"
                                     fill="currentColor"
                                     class="bi bi-ticket-detailed"
                                     viewBox="0 0 16 16">
                                    <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5ZM5 7a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2H5Z"/>
                                    <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5ZM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5h-13Z"/>
                                </svg>
                            </button>
                        </a>
                    </td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/groups/{id}/edit(id=${group.getId()})}">
                            <button type="button" class="btn btn-outline-primary">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="16"
                                     height="16"
                                     fill="currentColor"
                                     class="bi bi-pencil"
                                     viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </button>
                        </a>
                    </td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                th:attr="data-bs-target='#deleteModal'+${group.id}">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="16"
                                 height="16"
                                 fill="currentColor"
                                 class="bi bi-trash3"
                                 viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                            </svg>
                        </button>

                        <div class="modal fade" th:id="'deleteModal'+${group.id}" tabindex="-1" aria-labelledby="deleteModalLabel"
                             aria-hidden="true" >
                            <form th:method="GET"
                                  th:action="@{/groups/{id}/delete(id=${group.id})}"
                                  th:object="${group}">

                                <div class="modal-dialog">
                                    <div class="modal-content border border-danger border-3">
                                        <div class="modal-body">

                                            <div class="my-5 fw-bold text-center" style="color: red">
                                                <h5 >Are you sure you want to delete this record???</h5>
                                            </div>

                                            <div class="text-center">
                                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                                                <button type="button" class="btn btn-outline-secondary"
                                                        data-bs-dismiss="modal">
                                                    Back
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

</body>
</html>