<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
    <div th:replace="fragments::resources"/>
</head>

<body>
<header>
    <div th:replace="fragments::navbar"/>
</header>

<main class="my-3">
    <div class="container">
        <div class="col-6 text-bg-primary rounded-top ps-3 pt-2 mx-auto" style="height: 3rem">
            <h3> Edit group</h3>
        </div>
        <div class="col-6 shadow-lg p-3 mb-5 bg-body rounded-bottom mx-auto py-2">
            <form th:method="POST"
                  th:action="@{/groups}"
                  th:object="${group}">

                <div class="row">
                    <div class="alert alert-danger text-center" th:if="${#fields.hasGlobalErrors()}"
                         th:text="${#fields.errors('global')}" style="font-size: smaller">
                    </div>

                    <div class="mt-2 mb-4" style="color:blue">
                        <label class="form-label">Group name:</label>
                        <input type="text" th:field="*{name}" class="form-control">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}"
                             th:errors="*{name}" style="font-size: smaller">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mt-2 mb-4" style="color:blue">
                        <label class="form-label">Department:</label>
                        <select th:field="*{departmentId}" class="form-control"
                                style="color:blue">
                            <option value="" selected hidden>Select your option...</option>
                            <th:block th:each="dep:${departments}">
                                <option th:text="${dep.name}"
                                        th:value="${dep.id}">
                                </option>
                            </th:block>
                        </select>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('departmentId')}"
                             th:errors="*{departmentId}" style="font-size: smaller">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="mb-4" style="color:blue">
                        <label class="form-label">Subjects:</label>
                        <select th:field="*{subjects}" class="form-control" size="5"
                                style="color:blue" multiple>
                            <option value="0" selected disabled>Select subject (subjects):</option>
                            <th:block th:each="sub:${subjects}">
                                <option th:text="${sub.name}"
                                        th:value="${sub.id}">
                                </option>
                            </th:block>
                        </select>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('subjects')}"
                             th:errors="*{subjects}" style="font-size: smaller">
                        </div>
                    </div>
                </div>

                <div class="text-end">
                    <button type="submit" class="btn btn-outline-primary ">Save</button>
                    <a th:href="@{/groups}">
                        <button type="button" class="btn btn-outline-secondary">Back</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</main>
</body>

</html>

