<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <div th:replace="fragments::resources"></div>
</head>

<body>
<header>
    <div th:replace="fragments::navbar"></div>
</header>

<main class="my-3">
    <div class="container">
        <div class="col-8 text-bg-primary rounded-top ps-3 pt-2 mx-auto" style="height: 3rem">
            <h3>Save new employee</h3>
        </div>
        <div class="col-8 shadow-lg p-3 mb-5 bg-body rounded-bottom mx-auto py-2">
            <form th:method="POST"
                  th:action="@{/employees}"
                  th:object="${employee}">

                <div class="text-center mt-3" style="color:blue">
                    <h4>General information</h4>
                </div>
                <div class="alert alert-danger text-center" th:if="${#fields.hasGlobalErrors()}"
                     th:text="${#fields.errors('global')}" style="font-size: smaller">
                </div>

                <div class="row">
                    <div class="col-6 mt-2 mb-4" style="color:blue">
                        <label for="employee-username" class="col-form-label ">E-mail(login):</label>
                        <input type="text" th:field="*{email}" class="form-control" name="username"
                               id="employee-username">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}"
                             th:errors="*{email}" style="font-size: smaller">
                        </div>
                    </div>

                    <div class="col-6 mt-2 mb-4" style="color:blue">
                        <label for="employee-password" class="col-form-label ">Password:</label>
                        <input type="password" th:field="*{password}" class="form-control" name="password"
                               id="employee-password">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}"
                             th:errors="*{password}" style="font-size: smaller">
                        </div>
                    </div>
                </div>

                <div sec:authorize="hasRole('ROLE_ADMIN')" class="row">
                    <div class="col-12 mt-2 mb-4" style="color:blue">
                        <label class="col-form-label">Role:</label>
                        <select th:field="*{role}" class="form-control"
                                style="color:blue" >
                            <option value="" selected hidden>Select your option...</option>
                            <th:block th:each="rol:${T(ua.foxminded.university.domain.Role).values()}">
                                <option th:text="${rol.roleValue}" th:value="${rol}"></option>
                            </th:block>
                        </select>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('role')}"
                             th:errors="*{role}" style="font-size: smaller">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class=" col-6 mt-2 mb-4" style="color:blue">
                        <label class="col-form-label ">Last name:</label>
                        <input type="text" th:field="*{lastName}" class="form-control">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}"
                             th:errors="*{lastName}" style="font-size: smaller">
                        </div>
                    </div>

                    <div class="col-6 mt-2 mb-4" style="color:blue">
                        <label class="col-form-label ">First name:</label>
                        <input type="text" th:field="*{firstName}" class="form-control" >
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}"
                             th:errors="*{firstName}" style="font-size: smaller">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4 mt-2 mb-4" style="color:blue">
                        <label class="form-label">Gender:</label>
                        <select th:field="*{gender}" class="form-control"
                                style="color:blue" >
                            <option value="" selected hidden>Select your option...</option>
                            <th:block th:each="gen:${T(ua.foxminded.university.domain.Gender).values()}">
                                <option th:text="${gen.genderValue}" th:value="${gen}"></option>
                            </th:block>
                        </select>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('gender')}"
                             th:errors="*{gender}" style="font-size: smaller">
                        </div>
                    </div>

                    <div class="col-4 mt-2 mb-4" style="color:blue">
                        <label class="col-form-label ">Birth date:</label>
                        <input type="date" th:field="*{birthDate}" class="form-control"/>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('birthDate')}"
                             th:errors="*{birthDate}" style="font-size: smaller">
                        </div>
                    </div>

                    <div class="col-4 mt-2 mb-4" style="color:blue">
                        <label class="col-form-label ">Phone number:</label>
                        <input type="text" th:field="*{phoneNumber}" class="form-control">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('phoneNumber')}"
                             th:errors="*{phoneNumber}" style="font-size: smaller">
                        </div>
                    </div>
                </div>

                <div class="text-center mt-3" style="color:blue">
                    <h4>Address</h4>
                </div>

                <div class="row">
                    <div class="col-6 mt-2 mb-4 " style="color:blue">
                        <label class="form-label">Country:</label>
                        <input type="text" th:field="*{address.country}" class="form-control">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('address.country')}"
                             th:errors="*{address.country}" style="font-size: smaller">
                        </div>
                    </div>

                    <div class="col-6 mt-2 mb-4 " style="color:blue">
                        <label class="form-label">Region:</label>
                        <input type="text" th:field="*{address.region}" class="form-control">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('address.region')}"
                             th:errors="*{address.region}" style="font-size: smaller">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4 mt-2 mb-4 " style="color:blue">
                        <label class="form-label">City:</label>
                        <input type="text" th:field="*{address.city}" class="form-control">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('address.city')}"
                             th:errors="*{address.city}" style="font-size: smaller">
                        </div>
                    </div>

                    <div class="col-4 mt-2 mb-4 " style="color:blue">
                        <label class="form-label">Street:</label>
                        <input type="text" th:field="*{address.street}" class="form-control">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('address.country')}"
                             th:errors="*{address.country}" style="font-size: smaller">
                        </div>
                    </div>

                    <div class="col-2 mt-2 mb-4 " style="color:blue">
                        <label class="form-label">Apartment:</label>
                        <input type="text" th:field="*{address.apartment}" class="form-control">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('address.apartment')}"
                             th:errors="*{address.apartment}" style="font-size: smaller">
                        </div>
                    </div>

                    <div class="col-2 mt-2 mb-4 " style="color:blue">
                        <label class="form-label">Postcode:</label>
                        <input type="text" th:field="*{address.postcode}" class="form-control">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('address.postcode')}"
                             th:errors="*{address.postcode}" style="font-size: smaller">
                        </div>
                    </div>
                </div>

                <div class="text-center mt-3" style="color:blue">
                    <h4>University information</h4>
                </div>

                <div class="row">
                    <div class="col-6 mt-2 mb-4 " style="color:blue">
                        <label class="form-label">Department:</label>
                        <select th:field="*{departmentId}" class="form-control"
                                style="color:blue" >
                            <option value="" selected hidden>Select your option...</option>
                            <th:block th:each="dep:${departments}">
                                <option th:text="${dep.name}" th:value="${dep.id}"></option>
                            </th:block>
                        </select>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('departmentId')}"
                             th:errors="*{departmentId}" style="font-size: smaller">
                        </div>
                    </div>

                    <div class="col-6 mt-2 mb-4 " style="color:blue">
                        <label class="form-label">Education form:</label>
                        <select th:field="*{jobTitle}" class="form-control"
                                style="color:blue">
                            <option value="" selected hidden>Select your option...</option>
                            <th:block th:each="job:${T(ua.foxminded.university.domain.JobTitle).values()}">
                                <option th:text="${job.jobTitleValue}" th:value="${job}"></option>
                            </th:block>
                        </select>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('jobTitle')}"
                             th:errors="*{jobTitle}" style="font-size: smaller">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 mt-2 mb-4 " style="color:blue">
                        <label class="form-label">Education form:</label>
                        <select th:field="*{employmentType}" class="form-control"
                                style="color:blue">
                            <option value="" selected hidden>Select your option...</option>
                            <th:block th:each="type:${T(ua.foxminded.university.domain.Employment).values()}">
                                <option th:text="${type.educationFormValue}" th:value="${type}"></option>
                            </th:block>
                        </select>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('employmentType')}"
                             th:errors="*{employmentType}" style="font-size: smaller">
                        </div>
                    </div>

                    <div class="col-6 mt-2 mb-4 " style="color:blue">
                        <label class="col-form-label"> Enrollment date:</label>
                        <input type="date" th:field="*{employmentDate}" class="form-control"/>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('employmentDate')}"
                             th:errors="*{employmentDate}" style="font-size: smaller">
                        </div>
                    </div>
                </div>

                <div class="text-end">
                    <button type="submit" class="btn btn-outline-primary ">Save</button>
                    <a th:href="@{/employees}">
                        <button type="button" class="btn btn-outline-secondary">Back</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</main>

</body>

</html>

